body {
  font-family: "Barlow", "Noto Sans JP", sans-serif;
  line-height: 1.7;
  white-space: normal;
  word-break: break-all;
}

p {
  font-size: $font-size-base * 0.875;
}

.sec {
  padding: $font-size-base * 3 0;
}

.ttl2 {
  margin-bottom: $font-size-base * 1.5;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .en {
    font-size: $font-size-base * 1.8;
    margin-right: $font-size-base * 0.875;
    @include media-breakpoint-down(md) {
      display: block;
      margin-right: 0;
      margin-bottom: $font-size-base * .35;
    }
  }

  span:not(.en) {
    font-size: $font-size-base * 0.875;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

.ttl3 {
  position: relative;
  font-size: $font-size-base;
  font-weight: bold;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: $font-size-base;
    border-top: $font-size-base solid transparent;
    border-bottom: $font-size-base solid transparent;
    border-left: $font-size-base solid $primary;
  }
}

.ttl4 {
  font-size: $font-size-base * 1.025;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 0.5em;
  margin-bottom: 1em;
  border-left: solid 3px $primary;
}
