body {
  font-family: "Barlow", "Noto Sans JP", sans-serif;
  line-height: 1.7;
  white-space: normal;
  word-break: break-all;
}

.sec {
  padding: $font-size-base * 3 0;
}

.ttl2 {
  margin-bottom: $font-size-base * 1.5;

  .en {
    font-size: $font-size-base * 1.8;
    margin-right: $font-size-base * 0.875;
  }

  span:not(.en) {
    font-size: $font-size-base * 0.875;
  }
}

.ttl3 {
  position: relative;
  font-size: $font-size-base;
  font-weight: bold;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: $font-size-base;
    border-top: $font-size-base solid transparent;
    border-bottom: $font-size-base solid transparent;
    border-left: $font-size-base solid $primary;
  }
}
