.about-menu {
  margin-bottom: $font-size-base * 2;
  a {
    display: block;
    width: calc(100% / 6);
    box-sizing: border-box;
    padding: 1em;
    border: solid 1px $white;
    font-size: $font-size-base * 0.875;
    line-height: 1;
  }
}

.about-inner {
  margin-bottom: $font-size-base * 2;

  &:last-of-type {
    margin-bottom: 0;
  }

  .content,
  .ttl {
    box-sizing: border-box;
    padding: $font-size-base $font-size-base * 1.5;
  }
}

.flow-list {
  .card {
    height: 100%;

    h4 {
      font-weight: bold;
      font-size: $font-size-base;
      margin-bottom: 1em;
    }

    p {
      font-size: $font-size-base * 0.875;
    }
  }
}

.prices {
  .txt {
    width: 60%;
    padding: 0 $font-size-base;
  }

  .img {
    text-align: center;
    width: 40%;
  }
}

.cars {
  .card {
    height: 100%;

    h4 {
      font-size: $font-size-base;
      font-weight: bold;
    }

    p {
      font-size: $font-size-base * 0.75;
      color: #707070;
    }
  }
}

.attentions {
  h4 {
    font-size: $font-size-base;
    font-weight: bold;
  }
}