.footer {
  .main-foot {
    & > div {
      box-sizing: border-box;
      padding: $font-size-base * 3 0;
    }

    .foot-links {
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }

      h3 {
        font-size: $font-size-base;
        font-weight: bold;
        margin-bottom: 1em;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          a {
            font-size: $font-size-sm;
            color: $white;
          }
        }
      }

      .mr-md-5 {
        ul {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-wrap: wrap;

          li {
            width: 33.333%;
          }
        }
      }
    }
  }
}

.socket {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    text-align: center;
  }

  span,
  div {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.totop {
  overflow: hidden;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: $primary;
  @include media-breakpoint-down(md) {
    right: 1rem;
  }
  &::after {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";
    width: 1rem;
    height: 1rem;
    border-top: solid 2px $white;
    border-right: solid 2px $white;
  }
  &::before {
    content: "TOP";
    color: $white;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
}
