.header {
  position: relative;
  padding: $font-size-base 0 $font-size-base * 1.25 0;

  h1 {
    font-size: 0;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    .badge {
      display: inline-block;
      vertical-align: middle;
      font-size: $font-size-base * 1.5;
      margin-left: $font-size-base;
    }
  }
}
