.global-nav {
  position: relative;
  background-color: $dark;

  & > .container {
    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
  }

  .global-menu {
    list-style: none;
    color: $white;

    li {
      position: relative;
      cursor: pointer;
      display: block;
      width: 25%;
      box-sizing: border-box;
      padding: $font-size-base;
      text-align: center;
      @include media-breakpoint-down(md) {
        padding: $font-size-base $font-size-base * 0.5;
        font-size: $font-size-base * 0.75;
        line-height: 1.3;
      }

      .sub-menu {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &:nth-child(3) {
        @include media-breakpoint-down(md) {
          border-left: solid 1px #999;
          border-right: solid 1px #999;
        }
      }

      &.active {
        background-color: $primary;
        border-top-right-radius: $font-size-base * 0.5;
        border-top-left-radius: $font-size-base * 0.5;
        margin-top: -$font-size-base * 0.5;
        padding: $font-size-base * 1.25 0;
        @include media-breakpoint-down(md) {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          margin-top: 0;
          padding: $font-size-base $font-size-base * 0.5;
        }
      }

      a {
        color: $white;
      }

      &:hover {
        .sub-menu {
          height: auto;
        }
      }
    }
  }

  .form {
    background: url("../images_min/mv_bg.png") no-repeat center center;
    background-size: cover;

    .container {
      @include media-breakpoint-down(md) {
        padding: 0 !important;
      }
    }

    form {
      width: 40%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .form-inner {
        border-bottom: solid 3px $primary;
        @include media-breakpoint-down(md) {
          border: solid $font-size-base $primary;
        }

        .price {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -$font-size-base * 0.875;
            border: $font-size-base * 0.875 solid transparent;
            border-top: $font-size-base * 0.875 solid $secondary;
          }

          p {
            box-sizing: border-box;
            padding: $font-size-base * 0.875 $font-size-base;

            span {
              display: inline-block;
              vertical-align: sub;
              box-sizing: border-box;
              margin: 0 $font-size-base * 0.5;
              padding: $font-size-base * 0.3;
              border-top: solid 1px $primary;
              font-size: $font-size-base * 1.5;
              line-height: 1;
              letter-spacing: 0.1em;
            }
          }
        }
      }

      .cancel {
        @include media-breakpoint-down(md) {
          border: solid $font-size-base $primary;
          border-top: 0;
        }
      }

      & + div {
        width: 60%;
        padding-top: $font-size-base;
      }
    }
  }
}

.sub-menu {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #413e3d;
  width: 100%;
  height: 0;
  transition: 0.3s;

  .link {
    position: relative;
    border-bottom: solid 1px #4a4a4a;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;

      .locate {
        display: block;
        text-align: center;
        background-color: $primary;
        color: $white;
        font-size: $font-size-base * 0.9;
        line-height: 1;
        padding: 1em;
        min-width: 84px;
      }

      .tel {
        font-family: "Noto Sans JP", sans-serif;
        color: $white;
        font-size: $font-size-base * 0.9;
        line-height: 1;
        padding: 1em;
        font-weight: bold;
        letter-spacing: 0.1em;

        &::before {
          content: "TEL";
          font-size: 0.8em;
          margin-right: 1em;
          color: #959595;
        }
      }
    }
  }

  .cta-menu {
    box-sizing: border-box;
    padding: $font-size-base * 0.875;
    background-color: #8e8e8e;
  }
}

.modal:not(#modal-cancelpolicy) {
  .modal-content {
    background-color: transparent;
    border: 0;

    .modal-header {
      border: 0;
    }

    .sub-menu {
      position: relative;
      top: auto;
      left: auto;
      height: auto;
    }

    .close {
      color: $white;
    }
  }
}
